@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = ViewData["Message"];
}
<p>@ViewData["Message"]</p>
<br />
<p>Эта страница служит для тестирования BassCss</p>
@*-------------------------------------------------------*@
<hr />
<h2 class="h1">Типографика</h2>
<p class="h1">Размер шрифта h1</p>
<p class="h2">Размер шрифта h2</p>
<p class="h3">Размер шрифта h3</p>
<p class="h4">Размер шрифта h4</p>
<p class="h5">Размер шрифта h5</p>
<p class="h6">Размер шрифта h6</p>

<p class="regular">нормальный <span class="bold">жирный</span> <span class="italic">курсив</span> <span class="caps">заглавные</span> </p>
<p class="left-align">Выровнять влево, в начало строки</p>
<p class="center">Выровнять по центру строки</p>
<p class="right-align">Выровныть справа, в конец строки</p>
<p class="justify">Длинный текст выровнять по обеим краям. Будет менятся расстояние между словами. Длинный текст выровнять по обеим краям. Будет менятся расстояние между словами. Длинный текст выровнять по обеим краям. Будет менятся расстояние между словами.</p>
<p class="nowrap">Не переносить на другую строку. Не переносить на другую строку. Не переносить на другую строку. Не переносить на другую строку. Не переносить на другую строку.</p>
<p class="underline">Подчеркивание</p>
<div style="width:150px;"><p class="truncate">Текст усекается по размеру контейнера</p></div>
<p class="font-family-inherit">Font Family Inherit</p>
<p class="font-size-inherit">Font Size Inherit</p>
<a class="text-decoration-none">Ссылка без подчеркивания <b>text-decoration-none</b></a>

<h2 class="mt2">Списки</h2>
<ul class="list-reset">
    <li>Сброс стилей списка</li>
    <li>удалить маркеры списка</li>
    <li>удалить нумерацию списаа</li>
    <li>сбросить поля</li>
</ul>

<p>Список в одну строку:</p>
<ul class="list-reset">
    <li class="inline-block mr1">Half-Smoke</li>
    <li class="inline-block mr1">Kielbasa</li>
    <li class="inline-block mr1">Bologna</li>
    <li class="inline-block mr1">Prosciutto</li>
</ul>

@*-------------------------------------------------------*@
<hr />
<h2 class="h1">Макет страницы</h2>
<h3 class="mt2">Display</h3>
<p>Отображение блоков, и элементов страницы:</p>
<div class="inline">inline1</div><div class="inline">inline2</div>
<div class="inline-block">inline-block</div>
<a href="#" class="block">block</a>
<div class="table">
    <div class="table-cell">table-cell-1 ячейка таблицы из div</div>
    <div class="table-cell">table-cell-2</div>
</div>

<h3 class="mt2">Overflow</h3>
<p>Переполнение .overflow-hidden, .overflow-scroll, and .overflow-auto.</p>
<p>.overflow-hidden можно также испольховать для сброса плавающих элементов</p>

<h3 class="mt2">Float</h3>
<p>Плавающие элементы .clearfix чтобы очистить, затем , .left , и .right</p>

<div class="clearfix border">
    <div class="left border">.left первый блок слева</div>
    <div class="right border">.right второй блок справа</div>
</div>

<p>другой порядок контекста</p>
<div class="clearfix border">
    <div class="right border">.right первый блок справа</div>
    <div class="left border">.left второй блок слева</div>
</div>

<h3 class="mt2">Max Width</h3>
<p>Адаптивное заполнение</p>
<p>.fit чтобы картинка заполняла весь контейнер.</p>
<div class="col-3 border">
    <img class="fit" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" />
</div>

<p class="mt1">Управление шириной: 4 размера контейнера max-width-1,2,3,4 для текста</p>
<p class="max-width-1 border">Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
<p class="max-width-2 border">Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
<p class="max-width-3 border">Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
<p class="max-width-4 border">Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>

<h3 class="mt2">Граница внутри контейнера</h3>
<div class="col-6 p2 border-box border">.border-box</div>

<h3 class="mt2">Картинка с текстом</h3>
<p class="mt1">Используйте стандартные стили, чтобы разместить картинку рядом с текстом</p>
<div class="clearfix mb2 border">
    <div class="left p2 mr1 border"><img style="width:100px;" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" /></div>
    <div class="overflow-hidden">
        <p><b>Body</b>Текст обтекает картинку справа. Для картинки используются поля и отступы.</p>
        <p><b>Body</b> Текст находится в контейнере, который не дает тексту заползать под картинку.</p>
    </div>
</div>

<p class="mt1">Картинки с двух сторон</p>
<div class="clearfix mb2 border">
    <div class="left p2 mr1 border"><img style="width:50px;" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" /></div>
    <div class="right p2 ml1 border"><img style="width:100px;" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" /></div>
    <div class="overflow-hidden">
        <p><b>Body</b> Текст всегда остается между картинками, полосы прокрутки при сжатии не возникает.</p>
    </div>
</div>

<h3 class="mt2">Выравнивание</h3>
<p class="mt1">Вертикальное выравнивание .align-baseline .align-top, .align-middle .align-bottom</p>
<div class="overflow-auto">
    <div class="table border">
        <div class="table-cell"><h1>Элементы таблицы</h1></div>
        <div class="table-cell align-baseline border">.align-baseline</div>
        <div class="table-cell align-top border">.align-top</div>
        <div class="table-cell align-middle border">.align-middle</div>
        <div class="table-cell align-bottom border">.align-bottom</div>
    </div>
</div>

<hr />
<h2 class="h1">Поля </h2>
<h3>Margin</h3>
<p class="mt1">
    сокращенное соглашение об именах:<br />
    m Margin<br />
    t Top<br />
    r Right<br />
    b Bottom<br />
    l Left<br />
    x X-axis (left and right)<br />
    y Y-axis (top and bottom)<br />
    n Negative<br />
    0 0 reset<br />
    1 --space-1 (default .5rem)<br />
    2 --space-2 (default 1rem)<br />
    3 --space-3 (default 2rem)<br />
    4 --space-4 (default 4rem)<br />
</p>
<p>Отрицательные поля x-axis используются для смещения полей и заполнения дочерних элементов</p>
<div class="m3"></div>
<pre><span class="hljs-class">.m0</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value">        <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.mt0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.mr0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.mb0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.ml0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.mx0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-number">0</span></span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.my0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-number">0</span></span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}

<span class="hljs-class">.m1</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.mt1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.mr1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.mb1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.ml1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.mx1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.my1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}

<span class="hljs-class">.m2</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.mt2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.mr2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.mb2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.ml2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.mx2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.my2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}

<span class="hljs-class">.m3</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.mt3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.mr3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.mb3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.ml3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.mx3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.my3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}

<span class="hljs-class">.m4</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.mt4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.mr4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.mb4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.ml4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.mx4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.my4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}

<span class="hljs-class">.mxn1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">1</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">1</span>)</span></span>; }</span>
<span class="hljs-class">.mxn2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">2</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">2</span>)</span></span>; }</span>
<span class="hljs-class">.mxn3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">3</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">3</span>)</span></span>; }</span>
<span class="hljs-class">.mxn4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">4</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-function">-var</span>(--space-<span class="hljs-number">4</span>)</span></span>; }</span>

<span class="hljs-class">.ml-auto</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> auto </span></span></span>}
<span class="hljs-class">.mr-auto</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> auto </span></span></span>}
<span class="hljs-class">.mx-auto</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> auto</span></span>; <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> auto</span></span>; }</span>
</pre>
<p class="m1">Cброс полей m0 mt0 mb0:</p>
<h3 class="m0">No margin</h3>
<h3 class="mt0">No margin top</h3>
<h3 class="mb0">No margin bottom</h3>

<p class="m1">Добавление полей:</p>
<div class="mxn1 border">
    <div class="m1 border">Hamburger</div>
    <div class="m1 border">Hamburger</div>
    <div class="m1 border">Hamburger</div>
</div>

<p class="m1">Отрицательные поля можно использовать с дочерними элементами:</p>
<div class="border">
    <div class="mxn2">
        <div class="px2 border">Padded div</div>
    </div>
</div>

<h3 class="mt2">Центрирование</h3>
<p class="mt1">Блочные элементы .block с заданной шириной могут быть центрированы с помощью .mx-auto </p>
<img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg"
     width="96"
     height="96"
     class="block mx-auto" />

<h3 class="mt2">Поля элементов Flexbox</h3>
<p class="mt1">.mr-auto .ml-auto и .mr-auto можно использовать для добавления интервалов вокруг элементов flexbox</p>
<div class="flex">
    <div class="ml-auto">Hamburger|</div>
    <div>Hot Dog</div>
</div>
<p>"Эти поля нельзя объявлять вне Flexbox.  Это должно помочь избежать магических чисел.  Если по какой-то причине по умолчанию шкала пустого пространства не соответствует вашему дизайну, настраивайте перед использованием. </p>

<h3>Отступы Padding</h3>
<p class="mt1">
    сокращенное соглашение об именах:<br />
    p Padding<br />
    t Top<br />
    r Right<br />
    b Bottom<br />
    l Left<br />
    x X-axis (left and right)<br />
    y Y-axis (top and bottom)<br />
    n Negative (margin only)<br />
    0 0 reset<br />
    1 --space-1 (default .5rem)<br />
    2 --space-2 (default 1rem)<br />
    3 --space-3 (default 2rem)<br />
    4 --space-4 (default 4rem)<br />
</p>
<pre><span class="hljs-class">.p0</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.pt0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.pr0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.pb0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.pl0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.px0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-number">0</span> </span></span></span>}
<span class="hljs-class">.py0</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;  <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-number">0</span> </span></span></span>}

<span class="hljs-class">.p1</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.pt1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.pr1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.pb1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.pl1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.py1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}
<span class="hljs-class">.px1</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">1</span>) </span></span></span>}

<span class="hljs-class">.p2</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.pt2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.pr2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.pb2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.pl2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.py2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}
<span class="hljs-class">.px2</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">2</span>) </span></span></span>}

<span class="hljs-class">.p3</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.pt3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.pr3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.pb3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.pl3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.py3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}
<span class="hljs-class">.px3</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">3</span>) </span></span></span>}

<span class="hljs-class">.p4</span>  <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value">        <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.pt4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.pr4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.pb4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.pl4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.py4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-top</span>:<span class="hljs-value">    <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-bottom</span>:<span class="hljs-value"> <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
<span class="hljs-class">.px4</span> <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">padding-left</span>:<span class="hljs-value">   <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>)</span></span>; <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value">  <span class="hljs-function">var</span>(--space-<span class="hljs-number">4</span>) </span></span></span>}
</pre>

<h3>Панели Box</h3>
<p><br /></p>
<div class="p2 bg-gray border rounded">
    A simple box
</div>
<p><br /></p>
<div class="overflow-hidden border rounded">
    <div class="p2 bold white bg-blue">
        Panel Header
    </div>
    <div class="p2">
        Panel Body
    </div>
    <div class="p2 bg-silver">
        Panel Footer
    </div>
</div>


@*-------------------------------------------------------*@
<hr />
<h2 class="h1">Позиционирование</h2>
<p>Используйте Позиционирование с осторожностью.  Это часто не нужно или используются неправильно</p>
<p>.relative</p>
<div class="relative border m2">
    <div>Hamburger</div>
</div>
<p>.absolute для исключения блока из текущего потока</p>
<div class="relative border">
    <div>Hamburger</div>
    <div class="absolute bg-gray border rounded">
        <a href="#" class="block p1">Dropdown Action</a>
        <a href="#" class="block p1">Action</a>
    </div>
</div>
<div style="height:6rem;">Оставляем место для абсолютного позиционирования</div>
<p>Фиксированное позиционирование, как известно, сложно использовать хорошо и может привести к недоступному контенту и нежелательным побочным эффектам.  Используйте фиксированное позиционирование с осторожностью.</p>
@*<div class="fixed bg-blue">
    Hamburger
</div>*@
<br />
<p>Для привязки к определенной стороне .top-0 , .right-0 , .bottom-0 или .left-0</p>
@*<div class="fixed top-0 right-0 m2 border bg-blue">
    Hamburger
</div>*@
<br />
<p>Чтобы заполнить всю ширину или высоту, используйте противоположные направления.</p>
@*<div class="fixed top-0 left-0 right-0 p2  bg-blue">
    Fixed bar
</div>*@

<br />
<p>Чтобы обеспечить нужный порядок наложения блоков, используйте z-index. (раскоментируйте этот и предыдущий пример)</p>
<div class="fixed z2 top-0 left-0 right-0 p2 bg-gray">
    Fixed bar2
</div>


@*-------------------------------------------------------*@
<hr />
<h2 class="h1">Сетка Grid</h2>
<p>float и width для создания разнообразных макетов сетки.  Используйте этот модуль в сочетании с макетом, пробелами и другими способами</p>
<p>начинайте с контейнера .clearfix, в котором будут размещатся остальные элементы сетки</p>
<div class="clearfix border">
    Контейнер
</div>
<br />
<p>Чтобы установить максимальную ширину, используйте утилиту из модуля basscss-layout (макет).  Утилита .mx-auto устанавливает левую и правую границу поля для центрирования контейнера. </p>
<div class="max-width-4 mx-auto border">
    <div class="clearfix border">
        Контейнер
    </div>
</div>

<br />
<p class="bold">Столбцы .col</p>
<div class="clearfix border">
    <div class="col border">.col текст растягивает колонку</div>
    <div class="col border">.col</div>
</div>

<br />
<p>ширина столбцов.  Общее число столбцов должно составляет 12. Если использовать .col.col-6 то ширина колонки будут 6 из 12, т.е 50% ширины</p>
<div class="clearfix border">
    <div class="col col-6 border">.col.col-6 Если ширина столбцов задана, то тест не будут растяшивать колонку, если естьвозможность переноса. <br /> ************************************************************************************************************</div>
    <div class="col col-6 border">.col.col-6</div>
</div>

<h3>Адаптивная сетка</h3>
<p>В этом случае ширина столбцов задается с префиксами</p>
<p class="mt1">
    соглашение об именах:<br />
    (Без префикса)   Область не ограничена точкой останова<br />
    SM-   --breakpoint-sm (по умолчанию: min-width 40em)<br />
    MD-   --breakpoint-md (по умолчанию: min-width 52em)<br />
    LG-   --breakpoint-lg (по умолчанию: min-width 64em)<br />
</p>

<br />
<p>сжимайте экран, пока колонки не переместятся</p>
<div class="clearfix border">
    <div class="sm-col sm-col-6 border">.sm-col.sm-col-6</div>
    <div class="sm-col sm-col-6 border">.sm-col.sm-col-6</div>
</div>

<br />
<p>Добавляем несколько точек останова для разной ширины экрана</p>
<div class="clearfix border">
    <div class="sm-col sm-col-6 md-col-5 lg-col-4 border">.sm-col.sm-col-6.md-col-5.lg-col-4</div>
    <div class="sm-col sm-col-6 md-col-7 lg-col-8 border">.sm-col.sm-col-6.md-col-7.lg-col-8</div>
</div>


<br />
<p class="bold">Пространство между колонками- Интервал</p>
<p>Используйте padding и отрицательный margin для создания интервалов.  Отрицательный margin гарантирует, что содержимое внутри каждого столбца будет выровнено с содержимым вне сетки.
    <br />При использовании отрицательного поля не забудьте компенсировать дополнительную ширину, созданную с помощью дополняющего родительского элемента или с помощью скрытого переполнения.  В противном случае может произойти горизонтальная прокрутка</p>
<div class="clearfix mxn2 border">
    <div class="sm-col sm-col-6 md-col-5 lg-col-4 px2"><div class="border">.px2</div></div>
    <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2"><div class="border">.px2</div></div>
</div>

<br />
<p>Для больших или маленьких экранов используйте разные интервалы</p>
<div class="clearfix mxn1 border">
    <div class="col col-6 px1"><div class="border">.px1</div></div>
    <div class="col col-6 px1"><div class="border">.px1</div></div>
</div>
<div class="clearfix mxn3 border">
    <div class="col col-6 px3"><div class="border">.px3</div></div>
    <div class="col col-6 px3"><div class="border">.px3</div></div>
</div>

<br />
<p class="bold">Вложенные сетки</p>
<div class="clearfix mxn2 border">
    <div class="sm-col sm-col-6 md-col-5 lg-col-4 px2"><div class="border">Колонка без вложения</div></div>
    <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2">
        <div class="clearfix mxn2">
            <div class="col col-6 px2"><div class="border">Вложенная</div></div>
            <div class="col col-6 px2"><div class="border">Вложенная</div></div>
        </div>
    </div>
</div>

<br />
<p class="bold">Обратный порядок</p>
<p>Чтобы изменить порядок контента столбцов на обратный используйте .col-right</p>
<div class="clearfix border">
    <div class="col-right col-6 border">.col-right.col-6 первый</div>
    <div class="col col-6 border">.col.col-6 второй</div>
</div>

<br />
<p class="bold">Центрирование колонок</p>
<p>Используйте класс .mx-auto для центрирования колонок</p>
<div class="clearfix mxn2 border">
    <div class="col-8 px2 mx-auto bg-gray">
        <div class="border">Centered Column</div>
    </div>
</div>

<br />
<p class="bold">Независимые точки останова</p>
<p>плавающие элементы могут использоваться независимо</p>
<div class="clearfix border">
    <div class="sm-col p2 border">.sm-col</div>
    <div class="overflow-hidden border">.overflow-hidden</div>
</div>

<br />
<p class="bold">Независимая колонка (врезка)</p>
<div class="border">
    <div class="right sm-col-6 md-col-4 p2 border">.sm-col-6.md-col-4</div>
    <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
</div>

@*-------------------------------------------------------*@
<hr />
<h2 class="h1">Flexbox - гибкий макет </h2>


<p></p>