@{
    ViewData["Title"] = "Главная страница";
}
<h2 class="center">Главная страница</h2>
<p class="center" ><a asp-area="" asp-controller="Home" asp-action="BassCss">Примеры BassCss, базовый набор</a></p>
<p class="center pb2"><a asp-area="" asp-controller="Account">Простая авторизация</a></p>


